body{
    background-color: rgb(196,205,210 );
}


.navbar{
    display: flex;
    align-items: center;
     padding: 20px; 
    /* margin-left: 40%; */
    justify-content: center ;
    column-gap: 50px;
    
}

.triangle {
	
  width: 900px; 
	height: 600px;  
   
    background-color: #e9e9e9;
   
/* margin-left: 500px;  */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
/* position: relative; */
clip-path: polygon(62% 50%, 62% 61%, 100% 61%, 100% 0%, 0% 0%, 0% 50%);
}

.triangle2{
    width: 900px;
	height: 600px;
   
     border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    
    /* position: relative; */
    margin-bottom: 200px;
     margin-left: 50px;
overflow: hidden;
 background-color: rgb(145, 165, 177);   
   /* border: solid black 1px; */
     clip-path: polygon(0% 100%, 100% 100%, 100% 55%, 25% 55%, 25% 42%, 0% 42%);  

} 

#para1{
  font-size: 33px;
}

#para2{
  font-size: 40px;
 
}

#para3{
  font-weight: 300px !important;
  font-size: 30px;
}

#para4{
  font-weight: 300px !important;
  font-size: 30px;
}



@media screen and (max-width: 480px) {
    .first {
      display: none !important;
    }
  }


  @media screen and (max-width: 480px) {
    .sec {
    top: 0px !important;
      position: absolute    ;
    }
  }
    

  

